.glyphicon {
  font-size: 30px;
}

.product-img {
  width: 100px;
  height: 100px;
}

.product-img-detail {
  width: 200px;
  height: 200px;
}

.glyphicon-edit {
  font-size: 10px;
}

.glyphicon-trash {
  font-size: 10px;
}

.cart-text {
  height: 100px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 5px;
}

.cart-btn {
  margin-top: 33px;
  margin-left: auto;
  margin-right: auto;
}

.cart-title {
  height: 10px;
  line-height: 10px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 5px;
}

.cart-delete {
  height: 100px;
  line-height: 100px;
}

.cart-delete > span {
  margin-top: 43px;
  margin-left: auto;
  margin-right: auto;
}

.carousel-img {
  height: 300;
  margin-right: auto;
  margin-left: auto;
}

.cart-noproduct {
  margin-top: 50px;
  text-align: center;
}
