{% load staticfiles %}
{% include 'head.html' %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
  {% block script %}{% endblock %}
</head>
<body>

{% block navbar %}{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>
