{% block navbar %}
<div class="nav navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
           <a href="{% url 'home' %}" class="navbar-brand">101shop</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                {% if request.user.is_authenticated %}
                    <li><a href="#">Wellcom {{ request.user.username }}</a></li>
                {% else %}
                    <li><a href="#">Wellcom guest</a></li>
                {% endif %}
            </ul>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_staff %}
                    <li><a href="{% url 'admin-dashboard' %}" class="glyphicon glyphicon-dashboard"></a></li>
                {% endif %}
                <li><a href="{% url 'cart' %}" class="glyphicon glyphicon-shopping-cart"></a></li>
                <li><a href="{% url 'home' %}" class="glyphicon glyphicon-user"></a></li>
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'login' %}">Login/Signup</a></li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
