{% block navbar %}
<div class="nav navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
           <a href="{% url 'home' %}" class="navbar-brand">101shop</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="#" data-toggle="tab">1</a></li>
            </ul>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login/Signup</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
