{% extends 'base.html' %}

{% block title %}101SHOP - Account Center{% endblock %}

{% block content %}

<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1 class="text-center">Account Center</h1>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div>
        <img src="https://i.imgur.com/kjsMAx2.jpg" class="img-circle" style="height:100px; width:100px; display:block; margin:auto;" />
      </div>
      <div>
        <h4 class="text-center">Hi, {{ request.user.username }}</h4>
      </div>
    </div>
    <div class="col-md-10">
      <table class="table">
        <tr class="text-center">
          <td>Order ID</td>
          <td>Name</td>
          <td>Tel</td>
          <td>Address</td>
          <td>Pay</td>
          <td>Status</td>
          <td>Create</td>
          <td>Finish</td>
        </tr>
      {% for o in orders %}
        <tr class="text-center">
          <td>{{ o.oid }}</td>
          <td>{{ o.order_name }}</td>
          <td>{{ o.order_tel }}</td>
          <td>{{ o.order_address }}</td>
          <td>{{ o.pay }}</td>
          {% if o.status == 1 %}
            <td>PENDING</td>
          {% elif o.status == 2 %}
            <td>PROCESSING</td>
          {% elif o.status == 3 %}
            <td>ON THE WAY</td>
          {% else %}
            <td>DELIVERED</td>
          {% endif %}
          <td>{{ o.order_date }}</td>
          {% if o.finish_date == None %}
            <td></td>
          {% else %}
            <td>{{ o.finish_date }}</td>
          {% endif %}
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
