{% extends 'base.html' %}

{% block title %}101SHOP - Cart{% endblock %}


{% block script %}

<script>

    $(function() {

        // minus quantity
        $(".btn-down").click(function() {
            var pid = $(this).attr("id");
            var unitprice = $("#unitp" + pid).html();
            var subtotal= $("#sub" + pid).html();
            var qty = parseInt($("#qty" + pid).html());
            if (qty === 1) {
                alert("If you want delete this product, click trash can icon right.");
                return;
            }
            qty = qty - 1;
            $("#qty" + pid).html(qty);
            unitprice = unitprice.split("$ ");
//            unitprice = unitprice[1].split(" ");
            unitprice = parseInt(unitprice[1]);
            subtotal = subtotal.split("$ ");
//            subtotal = subtotal[1].split(" ");
            subtotal = parseInt(subtotal[1]);
//            if (parseInt($("#qty" + pid).html()) === 0) {
//                $("#div" + pid).hide();
//                $.ajax({
//                    url: "/del_cart/" + pid,
//                    type: "GET",
//                    success: function(message) {
//                        $("#div" + pid).hide();
//                        alert(message);
//                        var total = $("#total").html();
//                        total = total.split("$ ");
//                        total = parseInt(total[1]) - unitprice;
//                        alert(total);
//                        $("#total").html("NT$ " + total);
//                    }
//                })
//                return;
//            }
//            unitprice = unitprice.split(" ");
//            for (var i = 0; i < unitprice.length; i++) {
//                if (unitprice[i] == "NT$") {
//                    unitprice = parseInt(unitprice[i+1]);
//                    break;
//                }
//            }
//            subtotal = subtotal.split(" ");
//            for (var i = 0; i < subtotal.length; i++) {
//                if (subtotal[i] == "NT$") {
//                    subtotal = parseInt(subtotal[i+1]);
//                    break;
//                }
//            }
            subtotal = unitprice * qty;
            $("#sub" + pid).html("NT$ " + subtotal);
            $.ajax({
                url: "/edit_cart/" + pid + "/" + 0,
                type: "GET",
                success: function(message){
//                    alert(message);
                    var total = $("#total").html();
                    total = total.split("$ ");
                    total = parseInt(total[1]) - unitprice;
//                    alert(total);
                    $("#total").html("NT$ " + total);
                    $("#checkqty" + pid).attr("value", qty);
                }
            })
        });

        // add quantity
        $(".btn-up").click(function() {
            var pid = $(this).attr("id");
            var unitprice = $("#unitp" + pid).html();
            var subtotal= $("#sub" + pid).html();
            var qty = parseInt($("#qty" + pid).html());
            qty = qty + 1;
            $("#qty" + pid).html(qty);
            unitprice = unitprice.split("$ ");
//            unitprice = unitprice[1].split(" ");
            unitprice = parseInt(unitprice[1]);
            subtotal = subtotal.split("$ ");
//            subtotal = subtotal[1].split(" ");
            subtotal = parseInt(subtotal[1]);
//            unitprice = unitprice.split(" ");
//            for (var i = 0; i < unitprice.length; i++) {
//                if (unitprice[i] == "NT$") {
//                    unitprice = parseInt(unitprice[i+1]);
//                    break;
//                }
//            }
//            subtotal = subtotal.split(" ");
//            for (var i = 0; i < subtotal.length; i++) {
//                if (subtotal[i] == "NT$") {
//                    subtotal = parseInt(subtotal[i+1]);
//                    break;
//                }
//            }
            subtotal = unitprice * qty;
            $("#sub" + pid).html("NT$ " + subtotal);
            $.ajax({
                url: "/edit_cart/" + pid + "/" + 1,
                type: "GET",
                success: function(message){
//                    alert(message);
                    var total = $("#total").html();
                    total = total.split("$ ");
                    total = parseInt(total[1]) + unitprice;
//                    alert(total);
                    $("#total").html("NT$ " + total);
                    $("#checkqty" + pid).attr("value", qty);
                }
            })
        });

        // del product
        $(".product-del").click(function() {
            var pid = $(this).attr("id");
            $.ajax({
                url: "/del_cart/" + pid,
                type: "GET",
                success: function(message) {
                    $("#div" + pid).hide();
                    alert(message);
                    var total = $("#total").html();
                    total = total.split("$ ");
                    var subtotal = $("#sub" + pid).html();
                    subtotal = subtotal.split("$ ");
                    total = parseInt(total[1]) - parseInt(subtotal[1]);
//                    alert(total);
                    $("#total").html("NT$ " + total);
                    $("#checkpid" + pid).remove();
                    $("#checkqty" + pid).remove();
                }
            })
        });

        $("#paycard").click(function() {
            $(this).prop("checked", true);
            $("#paypod").prop("checked", false);
        });

        $("#paypod").click(function() {
            $(this).prop("checked", true);
            $("#paycard").prop("checked", false);
        });
    });

</script>

{% endblock %}


{% block content %}

<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1 class="text-center">Cart</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row cart-title">
                <!-- product img and name -->
                <div class="col-md-4">
                    <td>Product Information</td>
                </div>
                <!-- product inventory -->
                <div class="col-md-1">
                    <td>Inventory</td>
                </div>
                <!-- product unitprice -->
                <div class="col-md-2">
                    <td>Unit Price</td>
                </div>
                <!-- product quantity -->
                <div class="col-md-2">
                    <td>Quantity</td>
                </div>
                <!-- product subtotal -->
                <div class="col-md-2">
                    <td>Subtotal</td>
                </div>
                <!-- del product -->
                <div class="col-md-1">
                    <td></td>
                </div>
            </div>
            {% for p in products %}
            <div id="div{{ p.6 }}" class="row cart-text">
                <!-- product img -->
                <div class="col-md-2">
                    <td><img src="/media/{{ p.0 }}" class="product-img"/></td>
                </div>
                <!-- product name -->
                <div class="col-md-2">
                    {{ p.1 }}
                </div>
                <!-- product inventory -->
                <div class="col-md-1">
                    <td>{{ p.2 }}</td>
                </div>
                <!-- unitprice -->
                <div id="unitp{{ p.6 }}" class="col-md-2">
                    <td>NT$ {{ p.3 }}</td>
                </div>
                <!-- change quantity -->
                <div class="col-md-2 cart-btn">
                    <button id="{{ p.6 }}" class="btn btn-default btn-down">-</button><button id="qty{{ p.6 }}" class="btn btn-default btn-total">{{ p.4 }}</button><button id="{{ p.6 }}" class="btn btn-default btn-up">+</button>
                </div>
                <!-- subtotal -->
                <div id="sub{{ p.6 }}" class="col-md-2">
                    <td>NT$ {{ p.5 }}</td>
                </div>
                <!-- del product -->
                <div class="col-md-1 cart-delete">
                    <span id="{{ p.6 }}" class="glyphicon glyphicon-trash product-del"></span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <form class="checkout" action="{% url 'order' %}" method="POST">
            {% csrf_token %}
        <div class="col-md-7 col-md-offset-1">
            <label>Select a payment method</label><br />
            <input id="paycard" name="order-pay" type="radio" value="card" /> <label for="paycard">Credit card</label><br />
            <input id="paypod" name="order-pay" type="radio" value="pod" /> <label for="paypod">Pay on Delivery</label><br />
            <table>
                <tr>
                    <td><label for="order-name">Name</label><br /></td>
                    <td><input id="order-name" name="order-name" type="text" size="50" /></td>
                </tr>
                <tr>
                    <td><label for="order-tel">Phone</label></td>
                    <td><input id="order-tel" name="order-tel" type="tel" size="50" /><br /></td>
                </tr>
                <tr>
                    <td><label for="order-address">Address</label></td>
                    <td><input id="order-address" name="order-address" type="text" size="50" /><br /></td>
                </tr>
            </table>



            {% for p in products %}
                <input id="checkpid{{ p.6 }}" type="hidden" name="pid" value="{{ p.6 }}" />
                <input id="checkqty{{ p.6 }}" type="hidden" name="qty" value="{{ p.4 }}" />
            {% endfor %}
        </div>
        <div class="col-md-3">
            <label class="pull-left">Total: </label><label id="total" class="pull-right">NT$ {{ total }}</label><br />
            <input class="btn btn-block btn-success" type="submit" value="Checkout" />
        </div>
        </form>
    </div>

</div>
<br />
<br />
<br />
{% endblock %}
