{% extends 'base.html' %}

{% block title %}101SHOP - Cart{% endblock %}


{% block script %}

<script>

    $(function() {

        // minus quantity
        $(".btn-down").click(function() {
            var pid = $(this).attr("id");
            var unitprice = $("#unitp" + pid).html();
            var subtotal= $("#sub" + pid).html();
            var qty = parseInt($("#qty" + pid).html());
            if (qty === 1) {
                alert("If you want delete this product, click trash can icon right.");
                return;
            }
            qty = qty - 1;
            $("#qty" + pid).html(qty);
            unitprice = unitprice.split("$ ");
//            unitprice = unitprice[1].split(" ");
            unitprice = parseInt(unitprice[1]);
            subtotal = subtotal.split("$ ");
//            subtotal = subtotal[1].split(" ");
            subtotal = parseInt(subtotal[1]);
//            if (parseInt($("#qty" + pid).html()) === 0) {
//                $("#div" + pid).hide();
//                $.ajax({
//                    url: "/del_cart/" + pid,
//                    type: "GET",
//                    success: function(message) {
//                        $("#div" + pid).hide();
//                        alert(message);
//                        var total = $("#total").html();
//                        total = total.split("$ ");
//                        total = parseInt(total[1]) - unitprice;
//                        alert(total);
//                        $("#total").html("NT$ " + total);
//                    }
//                })
//                return;
//            }
//            unitprice = unitprice.split(" ");
//            for (var i = 0; i < unitprice.length; i++) {
//                if (unitprice[i] == "NT$") {
//                    unitprice = parseInt(unitprice[i+1]);
//                    break;
//                }
//            }
//            subtotal = subtotal.split(" ");
//            for (var i = 0; i < subtotal.length; i++) {
//                if (subtotal[i] == "NT$") {
//                    subtotal = parseInt(subtotal[i+1]);
//                    break;
//                }
//            }
            subtotal = unitprice * qty;
            $("#sub" + pid).html("NT$ " + subtotal);
            $.ajax({
                url: "/edit_cart/" + pid + "/" + 0,
                type: "GET",
                success: function(message){
//                    alert(message);
                    var total = $("#total").html();
                    total = total.split("$ ");
                    total = parseInt(total[1]) - unitprice;
//                    alert(total);
                    $("#total").html("NT$ " + total);
                    $("#checkqty" + pid).attr("value", qty);
                }
            })
        });

        // add quantity
        $(".btn-up").click(function() {
            var pid = $(this).attr("id");
            var unitprice = $("#unitp" + pid).html();
            var subtotal= $("#sub" + pid).html();
            var qty = parseInt($("#qty" + pid).html());
            qty = qty + 1;
            $("#qty" + pid).html(qty);
            unitprice = unitprice.split("$ ");
//            unitprice = unitprice[1].split(" ");
            unitprice = parseInt(unitprice[1]);
            subtotal = subtotal.split("$ ");
//            subtotal = subtotal[1].split(" ");
            subtotal = parseInt(subtotal[1]);
//            unitprice = unitprice.split(" ");
//            for (var i = 0; i < unitprice.length; i++) {
//                if (unitprice[i] == "NT$") {
//                    unitprice = parseInt(unitprice[i+1]);
//                    break;
//                }
//            }
//            subtotal = subtotal.split(" ");
//            for (var i = 0; i < subtotal.length; i++) {
//                if (subtotal[i] == "NT$") {
//                    subtotal = parseInt(subtotal[i+1]);
//                    break;
//                }
//            }
            subtotal = unitprice * qty;
            $("#sub" + pid).html("NT$ " + subtotal);
            $.ajax({
                url: "/edit_cart/" + pid + "/" + 1,
                type: "GET",
                success: function(message){
//                    alert(message);
                    var total = $("#total").html();
                    total = total.split("$ ");
                    total = parseInt(total[1]) + unitprice;
//                    alert(total);
                    $("#total").html("NT$ " + total);
                    $("#checkqty" + pid).attr("value", qty);
                }
            })
        });

        // del product
        $(".product-del").click(function() {
            var pid = $(this).attr("id");
            $.ajax({
                url: "/del_cart/" + pid,
                type: "GET",
                success: function(message) {
                    $("#check" + pid).hide();
                    $("#div" + pid).hide();
                    var total = $("#total").html();
                    total = total.split("$ ");
                    var subtotal = $("#sub" + pid).html();
                    subtotal = subtotal.split("$ ");
                    total = parseInt(total[1]) - parseInt(subtotal[1]);
//                    alert(total);
                    $("#total").html("NT$ " + total);
                    $("#checkpid" + pid).remove();
                    $("#checkqty" + pid).remove();
                    if (message == "No product in cart") {
                        location.reload();
                    }
                }
            })
        });

        $("#paycard").click(function() {
            $(this).prop("checked", true);
            $("#paypod").prop("checked", false);
            $("#check-pay").val("card");
            $("#check-pay-text").html("Credit Card");
        });

        $("#paypod").click(function() {
            $(this).prop("checked", true);
            $("#paycard").prop("checked", false);
            $("#check-pay").val("pod");
            $("#check-pay-text").html("Pay on Delivery");
        });

        $("#check-order").click(function() {
            $("#check-name").val($("#order-name").val());
            $("#check-name-text").html($("#order-name").val());
            $("#check-tel").val($("#order-tel").val());
            $("#check-tel-text").html($("#order-tel").val());
            $("#check-address").val($("#order-address").val());
            $("#check-address-text").html($("#order-address").val());
            $("#check-total-text").html($("#total").html());
        });
    });

</script>

{% endblock %}


{% block content %}

<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1 class="text-center">Cart</h1>
            </div>
        </div>
    </div>

    {% if message %}
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h3 class="cart-noproduct">{{ message }}</h3>
        </div>
      </div>
    {% else %}
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
              <div class="row cart-title">
                  <!-- product img and name -->
                  <div class="col-md-4">
                      <td>Product Information</td>
                  </div>
                  <!-- product inventory -->
                  <div class="col-md-1">
                      <td>Inventory</td>
                  </div>
                  <!-- product unitprice -->
                  <div class="col-md-2">
                      <td>Unit Price</td>
                  </div>
                  <!-- product quantity -->
                  <div class="col-md-2">
                      <td>Quantity</td>
                  </div>
                  <!-- product subtotal -->
                  <div class="col-md-2">
                      <td>Subtotal</td>
                  </div>
                  <!-- del product -->
                  <div class="col-md-1">
                      <td></td>
                  </div>
              </div>
              {% for p in products %}
              <div id="div{{ p.6 }}" class="row cart-text">
                  <!-- product img -->
                  <div class="col-md-2">
                      <td><img src="{{ p.0 }}" class="product-img"/></td>
                  </div>
                  <!-- product name -->
                  <div class="col-md-2">
                      {{ p.1 }}
                  </div>
                  <!-- product inventory -->
                  <div class="col-md-1">
                      <td>{{ p.2 }}</td>
                  </div>
                  <!-- unitprice -->
                  <div id="unitp{{ p.6 }}" class="col-md-2">
                      <td>NT$ {{ p.3 }}</td>
                  </div>
                  <!-- change quantity -->
                  <div class="col-md-2 cart-btn">
                      <button id="{{ p.6 }}" class="btn btn-default btn-down">-</button><button id="qty{{ p.6 }}" class="btn btn-default btn-total">{{ p.4 }}</button><button id="{{ p.6 }}" class="btn btn-default btn-up">+</button>
                  </div>
                  <!-- subtotal -->
                  <div id="sub{{ p.6 }}" class="col-md-2">
                      <td>NT$ {{ p.5 }}</td>
                  </div>
                  <!-- del product -->
                  <div class="col-md-1 cart-delete">
                      <span id="{{ p.6 }}" class="glyphicon glyphicon-trash product-del" data-toggle="modal" data-target="#cartDelModal"></span>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>

      <div class="row">
          <div class="col-md-7 col-md-offset-1">
              <label>Select a payment method</label><br />
              <input id="paycard" name="order-pay" type="radio" value="card" /> <label for="paycard">Credit Card</label><br />
              <input id="paypod" name="order-pay" type="radio" value="pod" checked /> <label for="paypod">Pay on Delivery</label><br />
              <table>
                  <tr>
                      <td><label for="order-name">Receiver</label><br /></td>
                      <td><input id="order-name" name="order-name" type="text" size="50" /></td>
                  </tr>
                  <tr>
                      <td><label for="order-tel">Contact Number</label></td>
                      <td><input id="order-tel" name="order-tel" type="tel" size="50" /><br /></td>
                  </tr>
                  <tr>
                      <td><label for="order-address">Address</label></td>
                      <td><input id="order-address" name="order-address" type="text" size="50" /><br /></td>
                  </tr>
              </table>
          </div>
          <div class="col-md-3">
              <label class="pull-left">Total: </label><label id="total" class="pull-right">NT$ {{ total }}</label><br />
              <button id="check-order" class="btn btn-block btn-success" data-toggle="modal" data-target="#cartCheckModal">Checkout</button>
          </div>
      </div>
    {% endif %}

    <div id="cartDelModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cartDelModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          </div>
          <div class="modal-body">
            Product deleted
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="cartCheckModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cartCheckModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="{% url 'order' %}" method="post">
            {% csrf_token %}
            <div class="modal-header">
              <h3 class="text-center">Check Order</h3>
            </div>
            <div class="modal-body">
              <table class="table">
                <tr class="text-center">
                  <td colspan="2">Product Information</td>
                  <td></td>
                  <td>Unit Price</td>
                  <td>Quantity</td>
                  <td>Subtotal</td>
                </tr>
                {% for p in products %}
                  <tr id="check{{ p.6 }}" class="text-center">
                    <td><img src="{{ p.0 }}" style="width:50px; height:50px;" /></td>
                    <td>{{ p.1 }}</td>
                    <td></td>
                    <td>NT$ {{ p.3 }}</td>
                    <td>{{ p.4 }}</td>
                    <td>NT$ {{ p.5 }}</td>
                  </tr>
                {% endfor %}
                <tr>
                  <td colspan="3">Total</td>
                  <td colspan="3" id="check-total-text">NT$ </td>
                </tr>
                <tr>
                  <td colspan="3">Payment Method</td>
                  <td colspan="3"><input id="check-pay" type="hidden" name="order-pay" value="pod"><span id="check-pay-text">Pay on Delivery</span></td>
                </tr>
                <tr>
                  <td colspan="3">Reciever</td>
                  <td colspan="3"><input id="check-name" type="hidden" name="order-name" value=""><span id="check-name-text"></span></td>
                </tr>
                <tr>
                  <td colspan="3">Contact Number</td>
                  <td colspan="3"><input id="check-tel" type="hidden" name="order-tel" value=""><span id="check-tel-text"></span></td>
                </tr>
                <tr>
                  <td colspan="3">Address</td>
                  <td colspan="3"><input id="check-address" type="hidden" name="order-address" value=""><span id="check-address-text"></span></td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">
              {% for p in products %}
                <input id="checkpid{{ p.6 }}" type="hidden" name="pid" value="{{ p.6 }}" />
                <input id="checkqty{{ p.6 }}" type="hidden" name="qty" value="{{ p.4 }}" />
              {% endfor %}
              <input class="btn btn-block btn-success" type="submit" value="Confirm Order">
            </div>
          </form>
        </div>
      </div>
    </div>



</div>
<br />
<br />
<br />
{% endblock %}
