{% extends 'base.html' %}

{% block title %}101SHOP - Edit Product{% endblock %}

{% block content %}

<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1 class="text-center">Edit Product</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                  <table class="table">
                {% for f in form %}
                    <tr>
                        <td>
                            <label>{{ f.name }}</label>
                        </td>
                        <td>
                            {{ f }}
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Update" class="pull-right btn btn-success">
                        </td>
                    </tr>
                  </table>
            </form>
        </div>
    </div>
</div>

{% endblock %}
