{% extends "base.html" %}

{% block title %}101SHOP - Edit Category{% endblock %}


{% block content %}

<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1 class="text-center">Edit Category</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="" method="post">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td>
                            Category Name
                        </td>
                        <td>
                            <input type="text" name="name" value="{{ category }}">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="{% url 'delete-category' category.id %}" class="pull-left btn btn-danger">Delete</a>
                            <input type="submit" value="Update" class="pull-right btn btn-success">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
{{ message }}

{% endblock %}
