{% extends 'base.html' %}

{% block title %}Shop Home{% endblock %}

{% block content %}

<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <a href="{% url 'add-product' %}" class="btn btn-lg btn-primary">Add Product</a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'add-category' %}" class="btn btn-lg btn-primary">Add Category</a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'add-product' %}" class="btn btn-lg btn-primary">Edit Product</a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'add-product' %}" class="btn btn-lg btn-primary">Edit Category</a>
        </div>
    </div>
</div>
<br />
{% for p in products %}
    <table>
        <tr>
            <td>Product Category</td>
            <td>{{ p.category }}</td>
        </tr>
        <tr>
            <td>Product Name</td>
            <td>{{ p.name }}</td>
        </tr>
        <tr>
            <td>Product Price</td>
            <td>{{ p.price }}</td>
        </tr>
        <tr>
            <td>Product Quantity</td>
            <td>{{ p.quantity }}</td>
        </tr>
        <tr>
            <td>Product Description</td>
            <td>{{ p.description }}</td>
        </tr>
        <tr>
            <td>Product Image</td>
            <td><img src="media/{{ p.img }}" style="height:100px;" /></td>
        </tr>
    </table>
{% endfor %}

{% endblock %}
