{% extends 'base.html' %}

{% block title %}101SHOP{% endblock %}


{% block script %}

<script>
    $(function() {
        $("button").click(function() {
            $.ajax({
                url: "/add_cart/" + $(this).attr("id") + "/" + 1,
                type: "GET",
                success: function(message) {
                    alert(message);
                }
            })
        });
    });
</script>

{% endblock %}


{% block content %}

<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1 class="text-center">101SHOP</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <ul class="list-unstyled">
                  <li><h3>Category</h3></li>
                  <li><a href="/category/All" class="btn btn-link">All</a></li>
              {% for c in categories %}
                  <li><a href="/category/{{ c.name }}" class="btn btn-link">{{ c.name }}</a></li>
              {% endfor %}
            </ul>
        </div>
        <div class="col-md-10">
          <div id="101shopcarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              {% for i in dataid %}
                <li data-target="#101shopcarousel" data-slide-to="{{ i }}" {% if i == 0 %}class="active"{% endif %}></li>
              {% endfor %}
            </ol>
            <div class="carousel-inner">
              {% for p in products %}
                <div class="item{% if forloop.first %} active{% endif %}">
                  <a href="{% url 'detail-product' p.id %}"><img class="carousel-img" src="/media/{{ p.img }}" alt="{{ p.name }}" /></a>
                  <div class="carousel-caption">{{ p.name }}</div>
                </div>
              {% endfor %}
            </div>
            <a class="left carousel-control" href="#101shopcarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#101shopcarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
    </div>

    <br />
    <br />
</div>
<br />

{% endblock %}
